* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-nav-color: #f8f6f6;
    font-size: 62.5%;
}

.hide {
    display: none;
    opacity: 0;
}

body {
    background: #F2F0F0;
    font-family: 'Red Hat Display', sans-serif;
    background: #dbdbdb;
    font-size: 1.6rem;
}

.page {
    display: flex;
    flex-direction: column;
}

nav {
    background: var(--bg-nav-color);
    height: 6.8rem;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.2rem 1.6rem;
}

.hamburguer-menu,
.hamburguer-menu::before,
.hamburguer-menu::after {
    display: block;
    width: 2.2rem;
    height: .3rem;
    background-color: #008CC2;
    border-radius: 9999px;
}

.hamburguer-menu {
    margin-top: -1.8rem;
}

.hamburguer-menu::before {
    margin-top: .8rem;
    content: "";
}

.hamburguer-menu::after {
    margin-top: .5rem;
    content: "";
}

nav .img img {
    width:  clamp(10rem, 12rem + 9vw, 24rem);
    height: auto;
}

nav #search-icon {
    width: 2.2rem;
    height: auto;
}

.carousel {
    content: "";
    background: #5CB8D5;
    height: 16rem;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    display: none;
    opacity: 0;
}

main {
    display: flex;
    flex-direction: column;
    margin: 1.8rem auto;
    width: 90%;
}

.news-title {
    display: flex;
    margin-bottom: 1.1rem;
}

.news-title img {
    width: 4rem;
    margin-right: 1rem;
}

.news-title h2 {
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 2.9rem;

    color: #5C5C5C;
}

.cards {
    display: grid;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.card {
    content: "";
    background: #C4C4C4;
    border-radius: .4rem;
    width: 100%;
    height: 24rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.card-text {
    background: #737373;
    border-radius: 0 0 .4rem .4rem;
    height: 7rem;
}

.card-text p {
    font-weight: 600;
    font-size: clamp(1.8rem, 1.3rem + 1vw, 2.2rem);
    line-height: 2.9rem;

    color: #FFFFFF;
    text-align: left;

    padding: .6rem 1.6rem;
}

ul {
    display: none;
    opacity: 0;
}

.right-side {
    display: none;
    opacity: 0;
}

#search-icon {
    display: visible;
    opacity: 1;
}

@media (min-width: 768px) {
    .cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 889px) {
    .hamburguer-menu {
        display: none;
        opacity: 0;
    }

    nav {
        padding: 2.6rem 2.4rem;
        height: 8.9rem;
    }

    nav .right-side img {
        width: 2.4rem;
        height: auto;
    }

    nav .assets {
        display: flex;
        align-items: center;
        gap: 3.7rem;
    }

    .right-side {
        display: flex;
        gap: 2.6rem;
        display: visible;
        opacity: 1;
    }
    
    .right-side #profile-icon {
        width: 5rem;
        padding: .2rem;

        border-radius: 50%;
        border: 1px solid #2F89BD;
    }

    ul {
        display: visible;
        opacity: 1;

        list-style: none;
    
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2.6rem;
    }
    
    a {
        text-decoration: none;
    
        font-weight: 500;
        font-size: clamp(1.2rem, .8rem + 1vw, 2.4rem);
        line-height: 3.4rem;
        color: #2F89BD;
    }

    a.active {
        color: #F0A623;
        border-bottom: 2px solid #F0A623;
    }

    nav #search-icon {
        display: none;
    }

    header {
        width: 90%;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        align-self: center;
        opacity: 1;

        margin: 6.7rem auto 4.1rem;
    }

    header .title {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }

    header h1 {
        font-size: 3.6rem;
        line-height: 4.8rem;
        color: #5C5C5C;
    
        margin-right: 2rem;
    }
    
    header span {
        font-style: normal;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.1rem;
        color: #6C6C6C;
    
        margin-bottom: .2rem;
    }

    .insignia {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .insignia span {
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 100%;
        color: #6C6C6C;
    }

    .insignia img {
        width: 5.4rem;
    }
    
}

/* scrollbar */
::-webkit-scrollbar {
    width: 0.7rem;
    height: 0.7rem;
    margin-right: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #C1C1C1;
    border-radius: .4rem;
    cursor: move;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    border: none;
}

/* 

.user-assets {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 26px;
}

i {
    font-size: 23px;
    color: #2F89BD;
}

.user-assets img {
    width: 50px;
    height: 50px;
    border-radius: 25px;

    padding: 2px;
    border: 1px solid #2F89BD;

    background-position: center center;
    background-size: cover;
    background-clip: content-box;
}

section {
    height: 62px;
    padding: 0 100px;
    margin-top: 68px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .title {
    display: flex;
    align-items: end;
    gap: 20px;
}

.title h1 {
    font-size: 36px;
    line-height: 36px;
    color: #5C5C5C;
}

span {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #6C6C6C;
}

section .insignia {
    display: flex;
    align-items: center;
    gap: 4px;
}

section img {
    width: 54px;
    height: 54px;
} */
